<?xml version="1.0" encoding="UTF-8" ?> 
<beans xmlns:context="http://www.springframework.org/schema/context" 
			xmlns:p="http://www.springframework.org/schema/p" 
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://www.springframework.org/schema/beans" 
			xmlns:mvc="http://www.springframework.org/schema/mvc" 
			xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	 
	 <!-- mysql start -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:/mapper/**/*_SQL.xml" />
    </bean>
     
     <bean id="sqlSessionBatch" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:/mapper/**/*_SQL.xml" />
    </bean>
     
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg index="0" ref="sqlSession"/>
        <!-- <constructor-arg index="1" value="BATCH" /> -->
    </bean>
    
     <bean id="sqlSessionTemplateBatch" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg index="0" ref="sqlSessionBatch"/>
        <constructor-arg index="1" value="BATCH" />
    </bean>
    
    <bean id="dao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	    <property name="mapperInterface" value="com.uni.sellers.datasource.AbstractDAO" />
	    <property name="sqlSessionFactory" ref="sqlSession" />
    </bean>
    <!-- mysql end -->
    
    <!-- mssql start -->
    <bean id="sqlSession2" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource2" />
        <property name="mapperLocations" value="classpath:/mapper/**/*_SQL.xml" />
    </bean>
     
    <bean id="sqlSessionTemplate2" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg index="0" ref="sqlSession2"/>
    </bean>
    
    <bean id="dao2" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    <property name="sqlSessionTemplate" ref="sqlSessionTemplate2" />
	    <property name="mapperInterface" value="com.uni.sellers.datasource.AbstractMsDAO" />
	    <property name="sqlSessionFactory" ref="sqlSession2" />
    </bean>
    <!-- mssql end -->
    
</beans>